.display {
    background-color: grey;
    height: 4rem;
    font-weight: bold;
    color: white;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem;
}

.row {
    display: flex;
    height: 4rem;
}

.btn {
    font-size: 1.5rem;
    width: 4rem;
}

.btnOperators {
    background: orange;
    font-size: 1.5rem;
    border: 1px solid black;
    width: 4rem;
}

.btnZero {
    width: 8rem;
    font-size: 1.5rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    font-family: 'Caveat', cursive;
    color: orange;
}

.main {
    padding: 1rem 2rem;
}

.calculator {
    width: 16rem;
}

.calContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 2rem;
}

.main h3 {
    margin: 1rem 0 2rem 0;
}

.main div {
    margin: 1rem 0;
}
